### STS ###
.classpath
.project
.settings
.metadata
.sts4-cache/

### Maven ###
target/
.mvn

### VS Code ###
.vscode/

### Intellij ###
.idea

### FILES ###
export.txt
.env
.factorypath
test.js

### node ###
node_modules/
package-lock.json